<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href={{ url_for('static', filename='styles.css') }} rel="stylesheet">
	</head>
	<header>
		<div class="row titlebar">
			<h1>Catalog App</h1>
			<form class="orange" action="{{url_for('gdisconnect')}}">
				<input type='submit' value='Log Out'>
			</form>
		</div>
	</header>
	<body class="containter">
		<div class="row content">
			<div class="col-md-4">
				<h2>Catagories</h2>
				{% for i in catagories %}
					<a href={{url_for('getItems', catagory_id = i.id)}}>{{i.name}} </a></br>
				{% endfor %}
			</div>
			<div class="col-md-8">
				<h2>{{catagory.name}} Items ({{length}} items)</h2>
				{% for j in items %}
						<a href={{url_for('getItem', catagory_id = j.catagory_id, item_id = j.id)}}>{{j.title}}</a></br>
				{% endfor %}
				<a href={{url_for('addItem')}}>Add New Item</a>
			</div>
		</div>
	</body>
</html>