<html>
	<header>
		<h1>Catalog App</h1>
		<button>Login</button>
	</header>
	<body>
		<h1> New Item </h1>
		<form action="{{url_for('newItem'}}" method = 'POST'>
			<p>Title</p>
			<input type='text' size='30' name='name' placeholder = "Item's name">
			<p>Description</p>
			<input type='text' size='30' name='description' placeholder = 'A short description'>
			<select name='catagory'>
				{% for i in catagories %}
					<option id="{{i.id}}">{{i.name}}</option>
				{% endfor %}
			</select>
			<input type='submit' value='Submit'>
		</form>
	</body>
</html>