<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href={{ url_for('static', filename='styles.css') }} rel="stylesheet">
	</head>
	<header>
		<div class="row titlebar">
			<h1>Catalog App</h1>
			<form class="orange" action="{{url_for('gdisconnect')}}">
				<input type='submit' value='Log Out'>
			</form>
		</div>
	</header>
	<body>
		<div class="content">
			<h2> New Item </h2>
			<form action="{{url_for('addItem')}}" method = 'POST'>
				<p>Title</p>
				<input type='text' size='30' name='name' placeholder = "Item's name" required></br></br>
				<p>Description</p>
				<input type='text' size='30' name='description' placeholder = 'A short description' required></br></br>
				<p>Image UrL</p>
				<input type='text' size='30' name='image' placeholder = '(optional)Url for an Image'></br></br>
				<p>Catagory</p>
				<select name='catagory'>
					{% for i in catagories %}
						<option>{{i.name}}</option>
					{% endfor %}
				</select></br></br>
				<input type='submit' value='Submit'>
			</form>
		</div>
	</body>
</html>